*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

 img{
    vertical-align: middle;
}

 a{
    text-decoration: none;
}

 ul{
     list-style: none;
 }

 /* common css end  */

 h2{
     color: steelblue;
     font-size: 48px;
     text-transform: capitalize;
 }
 .main{
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .main-container{
    width: 600px;
    padding: 10px;
    border: 2px solid teal;
 }

 textarea{
     width: 100%;
     height: 200px;
     outline: none;
     padding: 20px;
     resize: none;
 }
 p{
     text-transform: capitalize;
     color: tomato;
     font-size: 24px;
 }
 span{
     font-size: 48px;
     color: teal;
    }
    
marquee{
    text-transform: uppercase;
    font-size: 48px;
    color: teal;
 }